<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.silence.mapper.UserMapper">
    <sql id="allFields">
        id, username, password, salt, email, type, status, activation_code, header_url, create_time
    </sql>

    <select id="getById" resultType="UserDO">
        SELECT <include refid="allFields"/>
          FROM user
         WHERE id = #{id};
    </select>

    <select id="getByName" resultType="UserDO">
        SELECT <include refid="allFields"/>
          FROM user
         WHERE username = #{username};
    </select>

    <select id="getByEmail" resultType="UserDO">
        SELECT <include refid="allFields"/>
          FROM user
         WHERE email = #{email};
    </select>

    <update id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
        VALUES(#{id}, #{username}, #{password}, #{salt}, #{email}, #{type}, #{status}, #{activationCode}, #{headerUrl}, #{createTime});
    </update>

    <update id="updateStatusById">
        UPDATE user
           SET status = #{status}
         WHERE id = #{id};
    </update>

    <update id="updateHeaderUrlById">
        UPDATE user
        SET header_url = #{headerUrl}
        WHERE id = #{id};
    </update>

    <update id="updateUserPasswordById">
        UPDATE user
        SET nowcoder.user.password = #{password}
        WHERE id = #{id};
    </update>

</mapper>